.css-13cymwt-control,.css-t3ipsp-control{
    background: #D2E8EB !important;
    width: 15.35rem !important;
    height: 2rem !important;
}
.activity{
    background:#ffffff;
}
.recommendationList{
    background: #D2E8EB;
}
.recommendationItem div strong{
    font-size: 1.5rem;
}
.recommendationItem div p{
    font-size: 1rem;
}