.searchBlock{
    background: #ffffff;
    align-items: center;
}
.searchBar{
    height: 2rem;
    width: 86%;
}
.searchIcon{
    width: 1rem;
    height: 1rem;
}
.searchBar, .searchButton,.dateBar{
    background: #D2E8EB;
    border: none;
}
.dateBar{
    height: 2rem;
    width: 100%;
}
