.searchBlock{
    background: #ffffff;
    align-items: center;
}
.searchBar{
    width: 13rem;
    height: 2rem;
}
.searchIcon{
    width: 1rem;
    height: 1rem;
}
.searchBar, .searchButton,.dateBar{
    background: #D2E8EB;
    border: none;
}
.dateBar{
    width: 15.35rem;
    height: 2rem;
}
