.left{
    width: 30%;
}
.right{
    width: 70%;
}
.weather_col{
    width: 55%;
}
.activity_col{
    width: 45%;
}
.hourly_col,.search_col,.event_col{
    width: 100%;
}
.event_col{
    height: 80%;
}
@media (min-width:300px) and (max-width: 480px){
    .left{
        width: 100%;
    }
    .right{
        width: 100%;
    }
    .weather_col{
        width: 100%;
    }
    .activity_col{
        width: 100%;
    }
    .hourly_col,.search_col,.event_col{
        width: 100%;
    }
    .event_col{
        height: 100%;
    }
}