
 .hourBoard {
  background: #ffffff;
  /* padding: 20px; */

}

.hourBox {
  background: #D2E8EB;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 7rem;
  height: 8rem;
}

.weatherIcons {
  width: 2.5rem;
  height: 2.5rem;
  margin-bottom: 5px;
}

.slick-slide {
  padding: 0 10px;
}

.slick-track {
  display: flex;
  align-items: center;
}
